.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

h2 {
    color:#ffffff ;
    margin: 0px;
}

.caixatotal {
    padding: 5px;
}
span {
    color: #febe01;
}
.box-1 {
background-color: #111;
color: #b2b2b2;
height: 120px;
width: 800px;
border-radius: 4px;
margin: 40px;
padding: 30px;


}

a {
    color: #332200;
    background-color: #febe01;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.box-2 {
    background-color: #111;
color: #b2b2b2;
height: 120px;
width: 800px;
border-radius: 4px;
margin: 40px;
padding: 30px;
}

